// COLORS

$wt-color-white: #FFFFFF;
$wt-color-green: #2ECC71;
$wt-color-red: #F42;
$wt-color-yellow: #f1C40F;
$wt-color-blue: #48dbfb;
$wt-color-dark: #34495E;
$wt-color-background: #FCFCFC;
$wt-color-cloud: #BDC3C7;
$wt-color-grey: #95A5A6;
$wt-color-black: #333333;