$font-playfair: 'Playfair Display', serif;
$font-ptserif: 'PT Serif', serif;
$font-lato: 'Lato', sans-serif;

h1,
h2,
h4,
h4,
h5,
h6,
p,
a,
li,
strong {
    font-family: $font-lato;
}

blockquote {
    border-radius: 3px;

    p {
        font-style: italic;
    }
}

a {

    &:hover {
        text-decoration: none !important;
    }

}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.container-custom {
    max-width: 1125px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.container-custom-2 {
    max-width:920px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.container-custom-narrow {
    max-width: 768px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.wt-category-new-zealand {
    color: $wt-color-blue;
    text-transform: uppercase;
    font-size: 10px;
}

.wt-category-australia {
    color: $wt-color-red;
    text-transform: uppercase;
    font-size: 10px;
}

.wt-category-accomodation {
    color: $wt-color-blue;
    text-transform: uppercase;
    font-size: 10px;
}

.wt-category-food-drink {
    color: $wt-color-green;
    text-transform: uppercase;
    font-size: 10px;
}

.wt-category-adventure {
    color: $wt-color-red;
    text-transform: uppercase;
    font-size: 10px;
}

.wt-category-airport {
    color: $wt-color-yellow;
    text-transform: uppercase;
    font-size: 10px;
}

a {
    color: $wt-color-black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $wt-color-cloud;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $wt-color-cloud;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $wt-color-cloud;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $wt-color-cloud;
  }

.wt-align-center {
    text-align: center !important;
}