// HERO AND HEADER

.wt-wrapper-hero {
    background: linear-gradient(to bottom,  rgba(0, 10, 0, 0.253) 0%,  rgba(0, 10, 0, 0.37) 100%), url(../images/hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .wt-navbar {

        background: transparent !important;
        margin: 20px 0;

        .dropdown {
            margin-right: 30px;  
        }

        .wt-logo-header {

            padding-right: 30px;
            width: 14%;
            height: auto;

        }

        .wt-search-divider {
            border-left: 1px $wt-color-cloud solid;
            margin: 0 20px;
            height: 20px;
        }

        .nav-link {
            color: $wt-color-white !important;
        }

        .dropdown-menu {
            background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
            background: rgba(204, 204, 204, 0.5);
            border: none;
            margin-top: 10px;
        }

        .dropdown-item {
            color: $wt-color-black;  
        }

        svg {
            color: $wt-color-cloud;
        }
        
        .nav-item {

            a { 

                font-size: 14px;

                &:hover {
                    color: #000000;
                }
            }
        }

        .wt-search-form {

            margin-top: 10px;

            .search-field {
                border: none;
                background-color: transparent;
                color: $wt-color-white;
                font-weight: 100;
                font-style: italic;
                font-family: $font-lato;
            }
        }
    }

    .wt-hero-heading {

        text-align: center;
        padding: 12% 0;

        h1 {
            font-family: $font-playfair !important;
            color: $wt-color-white;
            padding-bottom: 30px;
        }

        p {
            font-family: $font-lato;
            color: $wt-color-white;
            font-weight: 300;

        }
    }
}

.admin-bar .sticky-header {
    top: 32px;
}