// DESTINATIONS

.wt-destination-wrapper {
    
    #wt-destination-tabs-hr {
        margin-top: 30px;
        width: 50%;
        color: $wt-color-cloud;
    }

    .wt-tabs-heading-wrapper {
        
        text-align: center;
        padding: 50px 0 100px 0;

        svg {
            padding-left: 10px;
        }

        h3 {
            font-family: $font-playfair;
            font-weight: 400;
            padding-bottom: 20px;
            color: $wt-color-dark;
            font-size: 3em;
        }
        
        p {
            font-family: $font-lato;
            color: $wt-color-grey;
            font-weight: 300;
            font-size: 14px;
            padding: 0 20%;
        }

    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: $wt-color-black;
    }

    .wt-tabs {

        text-align: center;
        padding: 50px 0;

        .wt-ul-tabs {
            display: flex;
            justify-content: center;

            li {
                text-transform: uppercase;
                padding: 0px 50px 0px 0px;

                a {
                    background-color: transparent;
                    background: transparent;
                    color: #bdc3c7;
                    font-size: 14px;

                    &:hover {
                        color: $wt-color-black;
                    }

                    &:active {
                        color: $wt-color-black;
                    }
                }
            }
        }
    }

    .wt-blog-card-wrapper {
        background-color: $wt-color-white;
        box-shadow: 0 20px 20px rgba(0,0,0,.08);
        white-space: normal;
        -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        color: #4B4F56;
        position: relative;
        vertical-align: top;
        margin-bottom: 70px;

        &:hover {
            box-shadow: 0 40px 40px rgba(0,0,0,.16);
            transform: translate(0,-20px);
            transition-delay: 0s !important;
        }

        .wt-blog-content {

            .wt-index-post-image { 
                width: 100%;
                height: 280px; 
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            .wt-entry-content {

                padding: 20px;

                .wt-category {

                    padding: 10px 0;

                    a {
                        &:hover {
                            
                        }
                    }

                    .wt-cat-icon {
                        float: right;
                        width: 12px;
                        height: 12px;
                        margin: 8px 0;
                    }

                    .wt-category-travelling {
                        color: $wt-color-red;
                        text-transform: uppercase;
                        font-size: 10px;
                    }

                    .wt-category-food-drink {
                        color: $wt-color-blue;
                        text-transform: uppercase;
                        font-size: 10px;
                    }

                    .wt-category-accomodation {
                        color: $wt-color-green;
                        text-transform: uppercase;
                        font-size: 10px;
                    }
                }

                .wt-entry-header {

                    h3 {
                        font-size: 1.1em;
                        font-family: $font-playfair;
                        font-weight: 400;
                    }

                }

            }

        }
    }

    .wt-destination-category {
        
        padding: 50px 0;
        text-align: center;
        font-family: $font-playfair;
        color: $wt-color-grey;
        font-weight: 400;
        
        a {
            text-decoration: underline;
            font-family: $font-playfair;
            color: $wt-color-black;
         }

    }

}